<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaseForm.My.MySettings.BaseFormConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Project\RegistrationTCPFrameWork46\RegistrationTCP\bin\x86\Debug\Store\МодулиРасчета\Настройка провайдера BaseForm\BaseForm.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
